<h3>
  9 - Change detection samples
</h3>
<header>
  <a [routerLink]="['./detector']"
     routerLinkActive="router-link-active"
     class="button">Detector</a>
  <a [routerLink]="['./family']"
     routerLinkActive="router-link-active"
     class="button">Family</a>
  <a [routerLink]="['./async']"
     routerLinkActive="router-link-active"
     class="button">Async</a>
  <a [routerLink]="['./subscribe']"
     routerLinkActive="router-link-active"
     class="button">Subscribe</a>
</header>
<router-outlet></router-outlet>
